body{
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-family: 'huxiaobo-meixin577684', '微软雅黑';
    
}   

@font-face {
font-family: 'huxiaobo-meixin577684';
src: url('../fonts/huxiaobo-meixin.eot');
src: url('../fonts/huxiaobo-meixin.eot?#iefix') format('embedded-opentype'),
     url('../fonts/huxiaobo-meixin.woff') format('woff'),
     url('../fonts/huxiaobo-meixin.ttf') format('truetype'),
     url('../fonts/huxiaobo-meixin.svg#huxiaobo-meixin') format('svg');
    font-weight: normal;
    font-style: normal;
   }
/*"font-family: 'Kaushan Script', cursive; font-family: 'Rock Salt', cursive;"*/
body,html{
    height: 100%;
    width: 100%;

}
div.st_container{
    width:100%;
    height: 100%;
    left: 0;
    top:0;
    position: absolute;
    }
.st_container a ,.st_container input{
    width: 20%;
    height: 38px;
    line-height: 38px;
    position: fixed;
    bottom: 0;

}
.st_container>input{
    opacity: 0;
    z-index: 1000;

}

.st_container>a{
    z-index: 10;
    background:#eee;
   /* background-image: linear-gradient(to top ,#999 30%,#eee 100%);*/
    text-align: center;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    
}

#radio_1,#radio_1+a{
    left: 0;
}
#radio_2,#radio_2+a{
     left: 20%;
 }
#radio_3,#radio_3+a{
       left: 40%;
   }
#radio_4,#radio_4+a{
    left: 60%;
}
#radio_5,#radio_5+a{
    left: 80%;
}
.st_container>input:checked+a{
    background: rgba(0,0,0,0.8);
    color: #eee;
}

input:checked+a:before{
    content: "";
    width: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    border: 20px solid transparent;
    border-bottom-color:#333;
}
/*滑动效果*/
.st_container input:hover +a{
    background: rgba(0,0,0,0.1);
    color: rgba(255,0,0,0.6);
}

/*让当前的不改变*/
.st_container input:checked:hover +a{
    background: rgba(0,0,0,0.8);
    color: #eee;
}


/*内容部分*/

.scroll,.panel{
    width: 100%;
    height: 100%;
    /*position: relative;*/

}
.scroll{
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: all 0.6s ease-in-out ;
}

section.panel{
    overflow: hidden;
}


/*如何找到导航*/

#radio_2:checked ~ .scroll{
    transform: translateY(-100%);
}
#radio_1:checked ~ .scroll{
    transform: translateY(0);
}
#radio_3:checked ~ .scroll{
    transform: translateY(-200%);
}
#radio_4:checked ~ .scroll{
    transform: translateY(-300%);
}
#radio_5:checked ~ .scroll{
    transform: translateY(-400%);
}

    div>section.panel:nth-child(even){
        background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.1))
           
    }
    section.panel:nth-child(odd){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.47),rgba(0,0,0,0.1))
    }
/*    background-image: linear-gradient(45deg,rgba(0,0,0,0.4),rgba(0,0,0,0.9),rgba(0,0,0,0.4))*/

/*********************************单页一的内容*/
.demo,.img,.info,.border,.mask{
            width: 280px;
            height: 280px;
    
            border-radius: 50%;
           position:absolute;
            top: 5%;
            display: block;

        }

        .demo{
            position: relative;
            display: block;
            top: 5%;
        }
    
        .img{
            background-image: url(../imges/myself.jpg);
            background-size: cover;
            background-position: 50% 50%;

        }

        .mask{
            text-align: center;
            color: transparent;
        }

        .mask>.info{
            
            margin-top: 50%;
            transform: translateY(-20%);
            -webkit-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
           
            .mask>.info>h2{
                font-size: 23px;
            }
        .mask>.info>p{
            font-size: 17px;
        }

        .border{
            box-sizing:border-box;
            border: 12px solid #000 ;
            border-left-color: #eee;
            border-top-color: #eee;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;

        }

        a.demo:hover .mask{
            background: rgba(0,0,0,0.5);
            color: #fff;
        }

        a.demo:hover .border{
            transform: rotate(0.5turn);
        }
