body{
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-family: 'huxiaobo-meixin577684', '微软雅黑';
    
}   

@font-face {
font-family: 'huxiaobo-meixin577684';
src: url('../fonts/huxiaobo-meixin.eot');
src: url('../fonts/huxiaobo-meixin.eot?#iefix') format('embedded-opentype'),
     url('../fonts/huxiaobo-meixin.woff') format('woff'),
     url('../fonts/huxiaobo-meixin.ttf') format('truetype'),
     url('../fonts/huxiaobo-meixin.svg#huxiaobo-meixin') format('svg');
    font-weight: normal;
    font-style: normal;
   }
/*"font-family: 'Kaushan Script', cursive; font-family: 'Rock Salt', cursive;"*/
body,html{
    height: 100%;
    width: 100%;

}
div.st_container{
    width:100%;
    height: 100%;
    left: 0;
    top:0;
    position: absolute;
    }
.st_container>a ,.st_container input{
    width: 20%;
    height: 38px;
    line-height: 38px;
    position: fixed;
    bottom: 0;

}
.st_container>input{
    opacity: 0;
    z-index: 1000;

}

.st_container>a{
    z-index: 10;
    background:#eee;
   /* background-image: linear-gradient(to top ,#999 30%,#eee 100%);*/
    text-align: center;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
    
}

#radio_1,#radio_1+a{
    left: 0;
}
#radio_2,#radio_2+a{
     left: 20%;
 }
#radio_3,#radio_3+a{
       left: 40%;
   }
#radio_4,#radio_4+a{
    left: 60%;
}
#radio_5,#radio_5+a{
    left: 80%;
}
.st_container>input:checked+a{
    background: rgba(0,0,0,0.8);
    color: #eee;
}

input:checked+a:before{
    content: "";
    width: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    border: 20px solid transparent;
    border-bottom-color:#333;
}
/*滑动效果*/
.st_container input:hover +a{
    background: rgba(0,0,0,0.1);
    color: rgba(255,0,0,0.6);
}

/*让当前的不改变*/
.st_container input:checked:hover +a{
    background: rgba(0,0,0,0.8);
    color: #eee;
}


/*内容部分*/

.scroll,.panel{
    width: 100%;
    height: 100%;
    /*position: relative;*/

}
.scroll{
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: all 0.6s ease-in-out ;
}

section.panel{
    overflow: hidden;
}


/*如何找到导航*/

#radio_2:checked ~ .scroll{
    transform: translateY(-100%);
}
#radio_1:checked ~ .scroll{
    transform: translateY(0);
}
#radio_3:checked ~ .scroll{
    transform: translateY(-200%);
}
#radio_4:checked ~ .scroll{
    transform: translateY(-300%);
}
#radio_5:checked ~ .scroll{
    transform: translateY(-400%);
}

    div>section.panel:nth-child(even){
        background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.1))
           
    }
    section.panel:nth-child(odd){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.47),rgba(0,0,0,0.1))
    }
/*    background-image: linear-gradient(45deg,rgba(0,0,0,0.4),rgba(0,0,0,0.9),rgba(0,0,0,0.4))*/

/*********************************单页一的内容*/
.demo,.img,.info,.border,.mask{
            width: 250px;
            height: 250px;
            left: 10px;
            border-radius: 50%;
           position:absolute;
            top: 5%;
            display: block;

        }

        .demo{
            position: relative;
            display: block;
            top: 3%;
        }
    
        .img{
            background-image: url(../imges/myself.jpg);
            background-size: cover;
            background-position: 50% 50%;

        }

        .mask{
            text-align: center;
            color: transparent;
        }

        .mask>.info{
            
            margin-top: 50%;
            transform: translateY(-20%);
            -webkit-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
           
            .mask>.info>h2{
                font-size: 23px;
            }
        .mask>.info>p{
            font-size: 17px;
        }

        .border{
            box-sizing:border-box;
            border: 12px solid rgba(255,255,255,0.6) ;
            border-left-color: rgba(0,0,0,.9);
            border-top-color: rgba(0,0,0,.9);
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;

        }

        a.demo:hover .mask{
            background: rgba(0,0,0,0.3);
            color: #fff;
        }

        a.demo:hover .border{
            transform: rotate(0.5turn);
        }
/********************翻页效果的制作************/
div.information{
    background: rgba(255,255,255,0.3);
    height: 46%;
    width: 250px;
    position: absolute;
    left: 10px;
    margin-left: 12px;
    bottom: 70px;
    cursor: pointer;
    border-radius: 10px;
}

 div.information:before{
        content: '';
        position: absolute;
        top: 0;
        right:0;
        border: 0 solid #ddd;
        border-color: rgba(0,0,0,0.2) #333;
        border-radius: 0 0 0 20px;
        box-shadow: 2px 1px #444;
        -webkit-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;

    }

div.information:hover:before{
        border-bottom-width: 60px;
        border-right-width: 60px;
    }


div#info_div h2{
    font-size: 16px;
    text-align: center;
}
div#info_div h2:first-child{
    padding: 5px 0;
    color: green;
    font-size : 19px;
}
div#info_div a{
    font-size: 15px;
        color: rgba(255,0,0,0.5);;
}
div#info_div a:hover{
    color:#058;
    font-size: 18px;
}

div.aaaaa{
    text-align: center;
}
/*section.spanGroup{
padding-left: 20px;
}*/
section.spanGroup span{

    padding-left: 20px;
    color: #058;
}
/**************这是中间的的旋转内容***********/
 section.main{
    /*background:green;*/
    height:480px;
    width:760px;
    position: absolute;
    left: 300px;
    top: 100px;
    background: rgba(0,0,0,0.9);
    border-radius:2px 0 10px 0px;
 } 

div.main_rotate{
    width: 100%;
    height :100%;
    background:#eee;
    position: absolute;
    transform-origin: -100% center;
    border-radius:2px 0 10px 0px;
    box-shadow: -5px  0 3px #eee;
 }
   
.main div.No_two{
    z-index: 3;
    background: #888;
    -webkit-animation: main_rotate 12s ease-in 0s  infinite;
    -o-animation: main_rotate 12s ease-in 0s infinite  ;
    animation: main_rotate 12s ease-in 0s infinite;
    border-radius:2px 0 40px 0px;
}
.main div.No_one{
    z-index: 4;
    background: #bbb;
    -webkit-animation: main_rotate 12s ease-in 6s infinite ;
    -o-animation: main_rotate 12s ease-in 6s  infinite  ;
    animation: main_rotate 12s ease-in 6s infinite  ;
    border-radius:2px 0 25px 0px;
}



/* @keyframes main_rotate{
        0%{
    
                opacity: 1;
                filter: alpha(opacity=100);
        }
        50%{
             -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            opacity: 1;
                filter: alpha(opacity=100);
        }
         70%{
             -webkit-transform: rotate(7deg);
                -ms-transform: rotate(7deg);
                -o-transform: rotate(7deg);
                transform: rotate(6deg);
                 opacity: 0;
                filter: alpha(opacity=0);
        }

        to{
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(1turn);
                opacity: 0.2;
                filter: alpha(opacity=20);
                -webkit-animation-delay: 20s;
                -o-animation-delay: 20s;
                animation-delay: 20s;
                 z-index: -1;
               
        }
 }*/


 /************************************/
div.up_div{
    width: 400px;
    height: 100px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 9px #000 ;
    transform: rotate(-15deg) translateY(-65px);
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 20;

 }
div.up_div>i{
    display: inline-block;
    padding: 50px;
   font-size: 70px;
   padding-top: 30px;
   color: #999;
   text-shadow: 3px 3px #333;
}

 .aside_r{
    position: absolute;
    top: 50px;
    right: 4px;
    height: 70%;
    width:300px;

 }
div#aside_bar{
    padding: 50px;
}
div#aside_bar span{
    font-size: 40px;
    margin: 30px;
    -webkit-animation: span_scale 3s ease 0s infinite alternate;
    -o-animation: span_scale 3s ease 0s infinite alternate ;
    animation: span_scale 3s ease 0s infinite alternate ;
  
}

@keyframes span_scale{
    to{
        opacity: 0.5;
        filter: alpha(opacity=50);
        transform: scale(1.5) rotate(15deg);
    }
}
 i.aside_icon{
   font-size: 80px;
   opacity: 0.8;
   filter: alpha(opacity=0.8);
 }


 .icon-html5:before{   
    display: inline-block;
    width: 80px;
    transform: rotate(30deg);
    color: red;
 }
 .icon-css3:before{
    color: green;
 }